.page {
    height: 100svh;
    overflow-y: scroll;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  justify-content: center;
  align-items: center;
  padding: 32px;
  @media screen and (max-width: 768px) {
    padding: 16px;
  }
}
.resume {
    max-width: 840px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    overflow-x: auto;
}
.jsonViewer {
    --font-family: var(--font-open-sans) !important;
}
.nav {
    font-family: var(--font-roboto);
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    position: sticky;
    top: 0;

    &::before {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: var(--background);
        z-index: -1;
        top: 0;
        left: 0;
        opacity: 0.8;
        filter: blur(5px);
    }

    a {
        font-family: var(--font-roboto);
        &:hover {
            text-decoration: underline;
        }
        svg {
            height: 32px;
            width: 32px;
        }
    }
    .logo {
        font-size: 24px;
        font-weight: bold;
    }
    .right {
        display: flex;
        gap: 16px;
    }
}